@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --cool-gray: #8895A8ff;
    --antiflash-white: #F6F9FBff;
    --alice-blue: #E3E9EFff;
    --indigo-dye: #07466Dff;
    --seasalt: #F7FAFCff;
}